{% extends 'layout.html' %}
{% block content %}

<div class="containers mx-0" style="font-size: medium; padding: 0px;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-screen">
    <a class="nav-link" href="/" style="color: white;">Rental Bikes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Account <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        {% if not session.get("phno") %}
          <li class="nav-item">
            <a class="nav-link ml-auto" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Sign-Up</a>
          </li> 
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log Out</a>
          </li> 
        {% endif %}
        
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li> -->
      </ul>
        {% if not session.get("phno") %}
        <span class="navbar-text">
          Rent Superbikes at affortable Price
        </span>
        {% else %}
        <span class="navbar-text pr-3">
          {{z.username}}
        </span>
        {% endif %}
      <!-- <span class="navbar-text">
        Rent Superbikes at affortable Price
      </span> -->
    </div>
  </nav>
</div>
<div class="container">
   <!-- Navigation -->


  <!-- Page Content -->
  <div class="container" style="font-size: small;">
    <div class="row">
      <div class="col-lg-3">

        <h1 class="my-4">Filter</h1>
        <div class="list-group">
          <a href="#" class="list-group-item">Brand</a>
          <a href="#" class="list-group-item">Price</a>
          <!-- <a href="#" class="list-group-item">Category 3</a> -->
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">
        <div class="row" style="padding: 10px;">
          <!-- loop starts here -->
          {% for x in models %}

          <div class="card" style="width: 14rem; padding: 4px;">
            <img class="card-img-top" src = "{{ url_for('static', filename='images/' + x.image) }}" alt="{{x.model}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center">{{ x.model }}</h5>
              <h6 class="text-center">{{ x.company }}</h6>
              {% for y in fee %}
                {% if y.modelno == x.modelno %}
                  <h6 style="text-align: center;">Price: {{ y.fee }}/day</h6>
                {% endif %}
              {% endfor %}
              <a href="{{url_for('billing', modelno = x.modelno)}}" class="text-center btn btn-primary" style="font-size:small; margin-left: 20% ;margin-right: 20%; padding-left: 20%; padding-right: 20%; position: relative; bottom: 0px;">book</a>
            </div>
          </div>
          {% endfor %}
      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <!-- <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    /.container
  </footer> -->

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</div>
{% endblock %}
