{% extends 'bootstrap/base.html' %}

{% block title %}
Rental Bikes
{% endblock %}

{% block content %}

<div class="h-screen w-screen flex items-center justify-center bg-gray-200 ">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
  
    <style>
      [x-cloak] {
        display: none;
      }
    </style>
  
    <div class="antialiased sans-serif">
        <div x-data="app()" x-init="[initDate(), getNoOfDays()]" x-cloak>
            <div class="container mx-auto px-4 py-2 md:py-10">
                <div class="mb-5 w-64">

{% endblock %}