{% extends "layout.html" %}

{% block content %}

<div class="container" style="padding: 17%; padding-top: 5%;">
  <h2 class="text-center">Login</h2>  
    {% include '_message.html' %}
    {% from "_formhelpers.html" import render_field %}
    <form method="POST", enctype="multipart/form-data">
      <div >
        {{ render_field(form.phno, class = "form-control") }}
        {{ render_field(form.password, class = "form-control") }}
      </div>
      
      <p><input type=submit value="Login" class="btn btn-info"></p>
    </form> 
</div>

{% endblock content %}